---
import GithubIcon from "../assets/Icons/github.svg";
import InstagramIcon from "../assets/Icons/instagram.svg";
import LinkedinIcon from "../assets/Icons/linkedin.svg";
import GmailIcon from "../assets/Icons/gmail.svg";

const currentYear = new Date().getFullYear();
---

<!--  WAVE CONTAINER -->
<div class="wave-wrapper">

  <svg class="wave wave1" viewBox="0 0 1440 320">
    <path fill="#2a0050"
      d="M0,160C240,300,480,0,720,100C960,200,1200,100,1440,160L1440,0L0,0Z">
    </path>
  </svg>

  <svg class="wave wave2" viewBox="0 0 1440 320">
    <path fill="#1a0033"
      d="M0,224C240,260,480,180,720,200C960,220,1200,180,1440,224L1440,0L0,0Z">
    </path>
  </svg>

  <svg class="wave wave3" viewBox="0 0 1440 320">
    <path fill="#120022"
      d="M0,256C240,220,480,220,720,240C960,260,1200,240,1440,256L1440,0L0,0Z">
    </path>
  </svg>

</div>

<!-- FOOTER -->
<footer class="footer">

    <div class="content">

        <h1 class="logo">L</h1>

        <p class="name">LIKITH | PORTFOLIO</p>
       
       <div class="icons">

    <a href="https://github.com/LIKHITHH-HUB" target="_blank">
        <img src={GithubIcon} alt="GitHub" width="28" />
    </a>

    <a href="https://www.instagram.com/___likhith___15/" target="_blank">
        <img src={InstagramIcon} alt="Instagram" width="28" />
    </a>

    <a href="https://www.linkedin.com/in/thandla-likhith-in/" target="_blank">
        <img src={LinkedinIcon} alt="LinkedIn" width="28" />
    </a>

    <a href="mailto:likhithrao2223@gmail.com">
        <img src={GmailIcon} alt="Email" width="28" />
    </a>

</div>

        <p class="copy">© {currentYear} Likhith. All rights reserved.</p>

    </div>

</footer>