---
import { ProjectLayout } from "../../layouts";
import { ProjectsList } from "../../utils/ProjectsList";

export async function getStaticPaths() {
  return ProjectsList.map((project: any) => ({
    params: {
      projectID: project.Name.replaceAll(" ", "-").toLowerCase(),
    },
  }));
}

const { projectID } = Astro.params;

const project = ProjectsList.find(
  (itm: any) =>
    itm.Name.replaceAll(" ", "-").toLowerCase() === projectID
);

// IMPORTANT: don't crash build
if (!project) {
  return {
    props: {
      project: null,
    },
  };
}
---

{project ? (
  <ProjectLayout
    title={`${project.Name} | Likith`}
    description={project.ShortDesc}
  >
    <div>
      <h1>{project.Name}</h1>

      <div>
        {project.Tech && project.Tech.map((tech: any) => (
          <span>{tech.title}</span>
        ))}
      </div>

      <div>
        <a href={project.Source} target="_blank">Source Code</a>
        <a href={project.Link || "#"} target="_blank">Live Demo</a>
      </div>
    </div>
  </ProjectLayout>
) : (
  <h1>Project Not Found</h1>
)}